<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
         <p><label>Type:    </label><%= form.select :trans_type, Transaction.trans_types.keys.to_a %></p>
	<p><label>Description:    </label><%= form.text_area :description , placeholder: 'Enter description'%></p>
	<p><label>Amount:    </label><%= form.number_field :balance , placeholder: 'Enter Amount'%></p>
	<p><label>Running Balance:    </label><%= form.number_field :running_balance , placeholder: 'Enter Running balance'%></p>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
